@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
background-color:peachpuff;
}
button {
  background-color:plum;
  border: none;
  color:black;
  font-family:Arial, sans-serif;
  text-transform: uppercase;
  padding: 1em 2em 1em 2em;
}
a {
  background-color: SteelBlue;
  color:#000;
  display:block;
  font-family:Arial, sans-serif;
  padding:2em;
  width:15%;
  text-decoration:none;
}

.padding-hover:hover {
  background-color: SteelBlue;
  color:white;
  text-decoration:underline;
}

.visited-gray:visited {
  color: LightGray;
}
/*---Media Queries---*/
@media screen and (max-width: 1000px) {
  body {
    background-color: #00FFB1;
}
}

@media screen and (max-width: 500px) {
  body {
    background-color: #00CDFF;
}
h1
  .container {
    background-image: url("Photography img css.jpeg");
    background-size: cover;
    height:800px;
    margin: 0 auto;
    width:50%;
}
  h1 {
    color: black;
    font-size:52px;
    position:relative;
    text-align:center;

  }
  body {
  background-color: #00FF32;
}
p {
  font-family: Arial, sans-serif;
  font-size:52px;
  font-weight:500;
  text-align:center;
  width: 100%;
  margin: 0 auto;
  top: 65px;
  position:relative;
}
}
}
