* {
background-color:#15FFC6;
}
button { 
  background-color:#14A171;
  border: none;
  color:white;
  font-family:Arial, sans-serif;
  text-transform: uppercase;
  padding: 1em 2em 1em 2em;
}
h1 {

}
